//

.form-item {
  margin: 0px 0px 20px 0px;
  position: relative;

  &__name {
    color: #333;
    display: block;
    font-size: 20px;
    margin: 0px 0px 10px 20px;
  }

  &__input {
    width: 100%;
    font-size: 18px;
    background-color: rgb(235, 235, 235);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin: 0px 0px 0px 10px;
    }
  }

  &__name-agree {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    text-align: center;
    line-height: 150%;
  }

  &__link {
    color: rgb(0, 62, 179);
    line-height: 150%;
  }

  &__btn {
    background-color: $main-color;
    font-size: 20px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    box-shadow: 0 5px 0px rgb(0, 126, 59);

    @media (min-width: $md2+px) {
      &:hover {
        transform: translateY(3px);
        box-shadow: 0 2px 0px rgba(0, 0, 0, .6);
      }
    }
  }
}