* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;

}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
}

button {
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    border: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}