.feedback {

  &__top-block {
    margin: 0px 0px 80px 0px;
  }

  &__title {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    margin: 0px 0px 30px 0px;
    @media (max-width: $md2+px) {
        font-size: 18px;
        line-height: 20px;
    }
    @media (max-width: $md3+px) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__rating {
    margin: 0px 0px 30px 0px;
  }

  &__text {
    font-size: 18px;
    line-height: 21px;
    @media (max-width: $md2+px) {
      font-size: 16px;
      line-height: 19px;
  }
  @media (max-width: $md3+px) {
    font-size: 14px;
    line-height: 16px;
  }
  }


  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    @media (max-width: 1060px){
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    max-width: 600px;
    flex: 0 0 48%;
    @media (max-width: 1060px){
      flex: 0 0 100%;
    }
  }
}

.rating {
  display: flex;
  align-items: center;
  &__stars {
    display: inline-flex;
    flex-direction: row-reverse;
    margin: 0px 20px 0px 0px;
  }

  &__stars-item {
    font-size: 70px;
    color: #c4c4c4;
    margin: 0 5px;
    @media (max-width: $md2+px) {
      font-size: 60px;
    }
    @media (max-width: $md3+px) {
      font-size: 50px;
      margin: 0 3px;
      &:last-child{
        margin: 0px 3px 0px 0px;
      }
    }
    &:last-child{
      margin: 0px 5px 0px 0px;
    }
  }

  &__number {
    font-size: 40px;
    font-weight: 700;
    @media (max-width: $md2+px) {
        font-size: 35px;
    }
    @media (max-width: $md3+px) {
        font-size: 30px;
    }
  }
}

.rating__stars[data-total-value = "1"] .rating__stars-item:nth-child(n + 5),
.rating__stars[data-total-value = "2"] .rating__stars-item:nth-child(n + 4),
.rating__stars[data-total-value = "3"] .rating__stars-item:nth-child(n + 3),
.rating__stars[data-total-value = "4"] .rating__stars-item:nth-child(n + 2),
.rating__stars[data-total-value = "5"] .rating__stars-item:nth-child(n + 1) {
  color: $main-color;
}

.review {
  background-color: #c4c4c4;
  padding: 25px;
  border-radius: 5px;
  @media (max-width: $md4+px) {
      padding: 15px 20px;
  }
  &__top-block {
    display: flex;
    align-items: center;
    margin: 0px 0px 40px 0px;
    @media (max-width: 1160px){
      margin: 0px 0px 20px 0px;
    }
  }

  &__avatar {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #767676;
    font-size: 36px;
    line-height: 36px;
    color: #fff;
    font-weight: 700;
    border-radius: 50%;
    margin: 0px 40px 0px 0px;
    @media (max-width: 1160px){
      width: 60px;
      height: 60px;
      font-size: 26px;
      line-height: 26px;
      margin: 0px 20px 0px 0px;
    }
    span{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__user-info {

  }

  &__bottom-block {
  }
}
.review-user {

  &__name {
    font-size: 18px;
    margin: 0px 0px 0px 0px;
    @media (max-width: 1160px){
      font-size: 16px;
    }
  }

  
  &__data {
    font-size: 18px;
    @media (max-width: 1160px){
      font-size: 16px;
    }
  }
}
.review-user__stars .feedback__rating{
  margin: 0px 0px 0px 0px;
}
.review-user__stars .rating__stars {
  margin: 0;
}
.review-user__stars .rating__stars-item {
  color: rgba(0, 0, 0, 0.5);
  font-size: 35px;
  margin: 0;
  @media (max-width: 1160px){
    font-size: 30px;
  }
}



.review-info {
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  @media (max-width: $md4+px) {
      padding: 10px;
  }
  &__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #00A64C;
    margin: 0px 0px 20px 0px;
    @media (max-width: 1160px){
        font-size: 20px;
        line-height: 25px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 21px;
    margin: 0px 0px 80px 0px;
    flex: 1 1 auto;
    @media (max-width: 1160px){
      font-size: 15px;
      line-height: 18px;
      margin: 0px 0px 40px 0px;
    }
  }

  &__img {
    width: 100%;
    height: 300px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
