// Text Color
$text-color: #000;
$text-dark: #4d4d4d;
//Background
// $bg-color: rgb(114, 114, 114);

//Colors
$main-color: #019b46;
$catalog-filters-color:#ededed;
// $secondary-color: ;
$second-color: #00a64c;

$input-border-color: #333;

$gutter: 20px;
$title-margin: 60px;

//footer
$footer-bg-color: #343434;
$footer-text-color: #999;
$footer-title-color: rgb(197, 197, 197);

//gap

$grid-gap: 20px;